body{
    background-color: #000C36;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

nav{
    background-color: #01176765;
    width: auto;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px; 


}

.logo{
    display: flex;
    justify-self: start;
    margin-left: 30px;
    padding-top: 10px;  
    padding-right: 0%;  
    text-align: center;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
}

h3{
    font-weight: 200;
}

.home{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Geist Mono", monospace;
    font-size: 24px;
    font-weight: 200;
    
}

.lista{
    flex-grow: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}


.box{
    background-color: #011767c4;
    margin: 30px 90px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
    height: auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    
}


.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
    margin-right: 80px;
}


a{
    color: #ffffff;
    text-decoration:none ;
}

.jogos{
    background-color: #000C36;
    margin: 120px;
    margin-bottom: -110px;
    display: flex;
    min-height: 146px;
    width: auto;
    font-size: small;
    border-radius: 10px;
    padding: 10px;
    

}


.jogos h3{
    font-weight: 200;
    font-size: 24px;
    margin-top: 20px;
}

img{
    margin: 10px 10px 0px 10px;
    width: 222px;
    height: 126px;
    border-radius: 10px;
}

h2{
    margin-top: 30px;
    text-align: center;
    margin-bottom: -60px;
    font-family: "Geist Mono", monospace;
    font-weight: normal;
    font-weight: 200;

}


button{
    border-radius: 8px;
    background-color: #739166;
    width: 93px;
    height: 29px;
    color: white;
    margin-top: 10px;
    border: none;
}


.compra, .subtotal{
    background-color: #263363;
    border-radius: 10px;
    height: 34px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto 90px 0px 90px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.compra{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
}

.compra button{
    width: 280px;
    margin: 10px;
}

.cart{
    border-radius: 8px;
    background-color: #739166;
    width: 93px;
    height: 29px;
    color: white;
    margin-top: 10px;
    border: none;
}

.carrinho{
    border-radius: 100px;
    background-color: #011767;
    border: none;
    width: 70px;
    height: 55px;
    font-size: 35px;
    margin-bottom: 10px;

}

.pesquisa {
    background-color: #162c6e; 
    border-radius: 20px;
    padding: 8px 16px;
    width: 300px;
  }


  .pesquisa input {
    background: transparent;
    border: none;
    color: #b0b9d1;
    font-size: 18px;
    margin: 0px 0px 9px 0px;

  }

  .pesquisa .icon {
    width: 24px;
    height: 24px;
    stroke: #ffffff;
    stroke-width: 2;
    padding: 3px 0px 0px 30px;
    flex-shrink: 0;
}


nav .pesquisa{
    display: inline;
}

 .direita{
    display: flex;
    align-items: center;
    gap: 20px;
}

.add{
    display: flex;
    justify-content: flex-end;
    margin: 10px 120px 0px 0px;
}
