body{
    background-color: #000C36;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

nav {
    background-color: #01176765;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  
  .logo {
    font-family: "Geist Mono", monospace;
    font-size: 24px;
    margin-left: 10px;
  }
  
  .home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Geist Mono", monospace;
    font-size: 24px;
    font-weight: 200;
    z-index: 1;
  }

.box{
    background-color: #011767;
    margin: 0px 240px 0px 240px;
    padding: 80px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 50px;
    height: 550px;

}


img{
    width: 500px;
    height: 280px;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 380px;
}

h2{
    margin-top: 10px;
    text-align: start;
        margin-bottom: -60px;
    font-family: "Geist Mono", monospace;
    font-weight: normal;
    font-weight: 400;
    font-size: 32px;
}


.cart{
    border-radius: 8px;
    background-color: #739166;
    width: 93px;
    height: 29px;
    color: white;
    margin-top: 25px;
    margin-left: 1150px;
    border: none;
}

p{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 150;
    text-align: center;
}

h3{
    font-weight: 200;
}

.carrinho{
    border-radius: 100px;
    background-color: #011767;
    border: none;
    width: 70px;
    height: 55px;
    font-size: 35px;

}

a{
    color: #ffffff;
    text-decoration:none ;
}

.pesquisa {
    background-color: #162c6e; 
    border-radius: 20px;
    padding: 8px 16px;
    width: 300px;
  }


  .pesquisa input {
    background: transparent;
    border: none;
    color: #b0b9d1;
    font-size: 18px;
    margin: 0px 0px 9px 0px;

  }

  .pesquisa .icon {
    width: 24px;
    height: 24px;
    stroke: #ffffff;
    stroke-width: 2;
    padding: 3px 0px 0px 30px;
    flex-shrink: 0;

}

  .pesquisa svg {
    flex-shrink: 0;
}

nav .pesquisa{
    display: inline;
}

 .direita{
    display: flex;
    align-items: center;
    gap: 20px;
}