body{
    background-color: #000C36;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

nav{
    background-color: #01176765;
    width: auto;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 30px; 
}

.logo{
    display: flex;
    justify-self: start;
    margin-left: 30px;
    padding-top: 10px;  
    padding-right: 0%;  
    text-align: center;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

.box{
    background-color: #011767;
    margin: 0px 240px 0px 240px;
    padding: 80px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 50px;
    height: 550px;

}


img{
    width: 500px;
    height: 280px;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 380px;
}

h2{
    margin-top: 10px;
    text-align: start;
        margin-bottom: -60px;
    font-family: "Geist Mono", monospace;
    font-weight: normal;
    font-weight: 400;
    font-size: 32px;
}


button{
    border-radius: 8px;
    background-color: #739166;
    width: 93px;
    height: 29px;
    color: white;
    margin-top: 25px;
    margin-left: 500px;
    border: none;

}

p{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 150;
    text-align: center;
}

h3{
    font-weight: 200;
}

.cart{
    border-radius: 8px;
    background-color: #739166;
    width: 93px;
    height: 29px;
    color: white;
    margin-top: 10px;
    border: none;
}

.carrinho{
    border-radius: 100px;
    background-color: #011767;
    border: none;
    width: 70px;
    height: 55px;
    font-size: 35px   
}


.pesquisa {
    background-color: #162c6e;
    border-radius: 20px;
    padding: 8px 16px;
    width: 300px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.pesquisa input {
    background: transparent;
    border: none;
    color: #b0b9d1;
    font-size: 18px;
    flex-grow: 1;
}

.pesquisa .icon {
    width: 24px;
    height: 24px;
    stroke: #ffffff;
    stroke-width: 2;
}

.direita {
    display: flex;
    align-items: center;
    left: 500000;
}